body {
    background: url("../images/laurynas-mereckas-1TL8AoEDj_c-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
